*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}
.wrapper{
    width:500px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    
}
.wrapper .title{
    line-height: 80px;
    background-color: rgb(79, 79, 148);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: white;
}
.wrapper form{
    padding: 30px 25px 25px 30px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 10px;
    padding-left: 60px;
}
.wrapper form .row label{
    width: 200px;
    font-size: 20px;
}
.wrapper form .row input{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.wrapper form #rme{
    width: 20px;
}
.wrapper #one{
    margin-left: 40px;
}
